@import "tailwindcss";
.container {
    width: 1200px;
    height: auto;
    margin: auto;
}
.main-bg{
    background: linear-gradient(135deg, #4758E8, #720AB8);
}
.uzb-bg{
    background: linear-gradient(#1e90ff, #fff, #00ff00);
}
.rus-bg{
    background: linear-gradient(white, blue, red);
}
.eng-bg{
    background: linear-gradient(135deg, blue, blue, #BC0B3C, white, #BC0B3C, white, #BC0B3C, white, #BC0B3C);
}

