@import "tailwindcss";

.Container {
    width: 1200px;
    height: auto;
    margin: auto;
}

.main-bg {
    background: linear-gradient(135deg, #4758E8, #720AB8);
}

.uzb-bg {
    background: linear-gradient(#1e90ff, #fff, #00ff00);
}

.rus-bg {
    background: linear-gradient(white, blue, red);
}

.eng-bg {
    background: linear-gradient(135deg, blue, blue, #BC0B3C, white, #BC0B3C, white, #BC0B3C, white, #BC0B3C);
}

@keyframes slide-in {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .animate-slide-in {
    animation: slide-in 0.3s ease-out;
  }
/* .circle {
    background: conic-gradient(red 0 25%,blue 25% 55%,green 55% 100%);
    border-radius: 50%;
} */